<div style="margin-top:20px;">
<!--<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;"><script type="text/javascript" src="//counter.websiteout.net/js/24/0/0/0"></script> Hits</p>-->

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;font-size:10px;padding:0 10px;margin-bottom:20px;">©&nbsp;{{ site.time | date: '%Y' }}&nbsp;LorenzFM &bull; Last Updated {{ site.time | date: '%Y-%m-%d' }} &bull; <a href="https://pages.github.com" target="_blank" style="font-size:10px;" rel="nofollow">Powered by Github Pages</a></p>

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;font-size:10px;"><a href="#top" style="font-size:10px;" uk-scroll="">Back to Top&nbsp;<span uk-icon="icon: arrow-up"></span></a></p>
</div>
